.about1 {
  font-size: 3rem;
  text-align: center;
}

.group1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.group2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  @media @tablet {
    padding-top: 10vw;
  }
}
.card {
  height: 11vw;
  width: 10vw;
  text-align: center;
  font-size: 1.5vw;
  line-height: 2.5vw;

  img {
    border-radius: 32.5em;
  }
}
