footer {
  padding: 4%;
  padding-left: 10%;
  letter-spacing: 0.2rem;
  border: 2px plum solid;
  font-size: 2rem;
  color: white;
  a {
    text-decoration: none;
    color: white;
    align-content: space-between;
    text-align: center;
    padding: 8%;
  }
}
