footer{
    padding: 4%;
    padding-left: 10%;
    letter-spacing: .2rem;
    
    font-size: 2rem;
    color: white;
    a{
        text-decoration: none;
        color: white;
        align-content: space-between;
        text-align: center;
        padding: 8%;
    

    }
}