// .second {
//   opacity: 50%;
//   height: 20%;
//   width: 20%;
//   align-self: center;
// }

.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}
.firstcontent {
  display: flex;
  flex-direction: column;
  font-family: "Acme", sans-serif;
  justify-content: space-around;
  align-content: center;
  font-size: 2rem;
  padding-left: 5%;
  padding: 2%;
  text-align: center;
  height: 30%;

  h1 {
    font-size: 5rem;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

// .secondcontent {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   font-family: "Acme", sans-serif;
//   align-content: center;
//   font-size: 2rem;
// }
